[user]
	email = communicate_aaron@outlook.com
	name = aaron
[push]
	default = matching
[core]
	quotepath = false
	editor = vim # git commit 编辑工具
    pager = delta # 替代git diff 对比显示工具

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = true      #  如果终端较为明亮，开启
    side-by-side = true # 并排显示（不同点）
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[http]
	sslVerify = true
