[Unit]
Description=YouTrack Server Startup Script
After=network.target

[Service]
User=aaron
ExecStart=/home/aaron/Software/youtrack/bin/youtrack.sh start
Restart=on-failure
RestartSec=10s
WorkingDirectory=/home/aaron/Software/youtrack/bin

[Install]
WantedBy=multi-user.target
