[Desktop Entry]
Type=Application
Name=Folo
Exec=/home/leorio/applications/folo/folo.AppImage --appimage-extract-and-run %U
Icon=/home/leorio/.files/DESKTOP/icons/folo.png
Categories=Network;
Terminal=false
