[Desktop Entry]
Type=Application
Name=Folo
Exec=/home/aaron/applications/folo/Folo.AppImage
Icon=/home/aaron/applications/folo/Folo.png
Categories=Network;
Terminal=false
