[Desktop Entry]
Type=Application
Exec=/home/leorio/.local/bin/neovide --neovim-bin /home/leorio/.local/bin/nvim
Icon=/home/leorio/.files/DESKTOP/icons/neovide.png
Name=neovide
Comment=neovide
Categories=Development
