[Desktop Entry]
Type=Application
Exec=/home/leorio/.local/bin/neovide --neovim-bin /opt/apps/io.neovim/files/AppRun
Icon=/home/leorio/.files/DESKTOP/icons/neovide.png
Name=neovide
Comment=neovide
Categories=Development
