[Desktop Entry]
Type=Application
Name=雷鸟
GenericName=Thunderbird
Exec=/home/aaron/applications/thunderbird/thunderbird
Icon=/home/aaron/applications/thunderbird/icons/thunderbird.png
Categories=Network;
Terminal=false
