[Desktop Entry]
Type=Application
Name=Thunderbird
GenericName=Thunderbird
Exec=/home/leorio/applications/thunderbird/thunderbird
Icon=/home/leorio/.files/DESKTOP/icons/Thunderbird.png
Categories=Network;
Terminal=false
