[Desktop Entry]
Type=Application
Name=Zen
Comment=zen
GenericName=Zen
Exec=~/applications/zen/zen-x86_64.AppImage
Icon=/home/aaron/.files/DESKTOP/icons/zen.png
Categories=network;
Terminal=false
