[Desktop Entry]
Type=Application
Name=Zen
Comment=zen
GenericName=Zen
Exec=/home/leorio/applications/zen/zen
Icon=/home/leorio/.files/DESKTOP/icons/zen.png
Categories=network;
Terminal=false
